<article class="w-72 md:w-96 bg-bgDetailPrimary rounded-[40px] text-colorLight" >

    <header class="relative grid grid-cols-2 bg-bgDetailHeader rounded-[40px] overflow-hidden shadow-custom2">
        
        @if(client() != null){
        <div class="absolute right-5 top-5">
            <!-- Boton para abrir modal de edicion de cliente -->
            <button (click)="showDialogEdit()"
                class=" hover:bg-hoverBtnClaro rounded-full p-1 transition duration-300"><i
                    class="pi pi-pencil py-1 px-2" style="font-size: .9rem"></i></button>
            <!-- Boton para abrir modal de elimar cliente -->
            <button (click)="showDialogDelete()"
                class=" hover:bg-hoverBtnClaro rounded-full p-1 transition duration-300"><i
                    class="pi pi-trash py-1 px-2" style="font-size: .9rem"></i></button>
        </div>
        }

        <div>
            <img src="./assets/person_img.png" alt="person">
        </div>
        <div class="pt-16">
            <h2 class="text-4xl">{{client()?.first_name || 'First name'}}</h2>
            <p class="text-xl">{{client()?.last_name || 'Last name'}}</p>
        </div>
    </header>

    <section class="grid grid-rows-2 text-center py-8">
        <div class="grid grid-cols-2">
            <div >
                <i class="pi pi-map-marker" style="font-size: 1.5rem"></i>
                <p class="mt-4 text-xs">{{client()?.address || 'Address'}}</p>
            </div>
            <div>
                <i class="pi pi-phone" style="font-size: 1.5rem"></i>
                <p class="mt-4 text-xs">{{client()?.phone_number || 'Phone number'}}</p>
            </div>
        </div>
        <div class="mt-4">
            <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
            <p class="mt-4 text-xs">{{client()?.email || 'Email'}}</p>
        </div>
    </section>
</article>

<!-- Modal para editar informacion del cliente -->
<p-dialog [modal]="true" [(visible)]="dialogEditVisible" [style]="{ width: '25rem' }" [draggable]="false">

    <ng-template pTemplate="header">
        <section class="relative w-full text-end pr-8">
            <div class="">
                <img src="./assets/person2_img.png" alt="person2" class="absolute top-[-127px] w-28">
            </div>
            <span class="w-full font-semibold text-xl">Edit Profile</span>
        </section>
    </ng-template>
    
        <ng-template pTemplate="content">
            <form [formGroup]="formEditClient" (ngSubmit)="formEditSubmit()" class="p-2">
            <span class="p-text-secondary block mb-5">Update your information here.</span>

            <div class="flex align-items-center gap-3 mb-3">
                <label for="first_name" class="font-semibold w-6rem">First name</label>
                <input formControlName="first_name" type="text" name="first_name"
                    class="flex-auto rounded-md bg-bgInput px-2 py-1" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="last_name" class="font-semibold w-6rem">Last Name</label>
                <input formControlName="last_name" type="text" name="last_name"
                    class="flex-auto rounded-md bg-bgInput px-2 py-1" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="address" class="font-semibold w-6rem">Address</label>
                <input formControlName="address" type="text" name="address" class="flex-auto rounded-md bg-bgInput px-2 py-1" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="phone_number" class="font-semibold w-6rem">Phone Number</label>
                <input formControlName="phone_number" type="text" name="phone_number"
                    class="flex-auto rounded-md bg-bgInput px-2 py-1" />
            </div>

            <div class="flex justify-end gap-2">
                <button type="submit" class="bg-bgDetailPrimary text-colorLight py-2 px-4 rounded-xl">Save</button>
            </div>
        </form>
        </ng-template>

</p-dialog>

<!-- Modal de confirmacion para eliminar cliente -->
<p-dialog [modal]="true" [(visible)]="dialogConfirmVisible" [style]="{ width: '25rem' }" [draggable]="false">

    <ng-template pTemplate="header">
        <section class="relative w-full text-center pr-8">
            <span class="w-full font-semibold text-xl">Alert</span>
        </section>
    </ng-template>

    <ng-template pTemplate="content">
        <span class="p-text-secondary block mb-5">Are you sure you want to delete the client?</span>
        <div class="flex justify-end gap-2">
            <button (click)="showConfirm()" class="bg-bgDetailPrimary text-colorLight py-2 px-4 rounded-xl">Yes</button>
        </div>
    </ng-template>

</p-dialog>